/*  your css code here. If applicable */

    table.middle {
      border: 1px solid black;
      border-collapse: collapse;
      margin: 20px auto;
    }
    table.middle td, table.middle th {
      border: 1px solid black;
      padding: 1px;
      text-align: center;
    }
    .center {
      text-align: center;
    }
    .right {
      text-align: right;
    }
    .green {
      background-color: green;
      color: white;
    }
    .blue {
      background-color: blue;
      color: white;
    }
    h1 {
      text-align: center;
    }